<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Page</h1>
    <hr>
    <p>Fully functional database that allows for users to Create, Read, Update and Delete.</p>
    <p>App include one-to-one and many-to-many associations.</p>
    <p>App include authentication processes like login, logout, signup, etc.</p>
    <p>AWS Photo Uploads</p>
    <footer>GA WC-SEIR-726, &copy; 2021 Michael Hamilton</footer>
</body>
</html>
