{% extends 'base.html' %}
{% block content %}


<h1 class="blue-text">{{ dev.name }}'s Page</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <div class="center">
                    <p>Location: {{ dev.location }}</p>
                    {% if dev.age <= 24 %} <p>Experience: Junior Dev</p>
                        {% elif dev.age > 24 and dev.age < 35 %} <p>Experience: Mid Level Dev</p>
                            {% else %}
                            <p>Experience: Senior Dev</p>
                            {% endif %}
                    <p>Bio: {{ dev.bio }}</p>
                    <p>Looking for Remote Work: {{ dev.remote }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'devs_update' dev.id %}">Edit</a>
                    <a href="{% url 'devs_delete' dev.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6">
        <form action="{% url 'add_interview' dev.id %}" method="post">
            {% csrf_token %} {{ interview_form.as_p }}
            <input type="submit" value="Add Interview Round" class="btn">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Stage</th>
                </tr>
            </thead>
            <tbody>
                {% for interview in dev.interview_set.all %}
                <tr>
                    <td>{{interview.date}}</td>
                    <td>{{interview.get_stage_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr />

    <div class="col s6">
        <h3>{{ dev.name }} Language's</h3>
        {% if languages.count %}
            {% for language in languages.all %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title">{{ language.name }}</div>
                    <div class="card-action">
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>Already Has All Languages Available</h5>
        {% endif %}
    </div>

</div>

<script>
    const dateEL = document.getElementById('id_date');
    M.Datepicker.init(dateEL, {
        format: "yyyy-mm-dd",
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_stage');
    M.FormSelect.init(selectEl)
</script>

{% endblock %}
