{% extends 'base.html' %}
{% block content %}


<h1 class="blue-text">{{ dev.name }} Page</h1>

<div class="card">
    <div class="card-content">
        <div class="center">
            <p>Location: {{ dev.location }}</p>
            {% if dev.age <= 24 %} <p>Experience: Junior Dev</p>
                {% elif dev.age > 24 and dev.age < 35 %} <p>Experience: Mid Level Dev</p>
                    {% else %}
                    <p>Experience: Senior Dev</p>
                    {% endif %}
            <p>Bio: {{ dev.bio }}</p>
            <p>Looking for Remote Work: {{ dev.remote }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'devs_update' dev.id %}">Edit</a>
            <a href="{% url 'devs_delete' dev.id %}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}
