{% extends 'base.html' %}
{% block content %}


<h1 class="blue-text">{{ dev.name }}'s Page</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <div class="center">
                    <p>Location: {{ dev.location }}</p>
                    {% if dev.age <= 24 %} <p>Experience: Junior Dev</p>
                        {% elif dev.age > 24 and dev.age < 35 %} <p>Experience: Mid Level Dev</p>
                            {% else %}
                            <p>Experience: Senior Dev</p>
                            {% endif %}
                    <p>Bio: {{ dev.bio }}</p>
                    <p>Looking for Remote Work: {{ dev.remote }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'devs_update' dev.id %}">Edit</a>
                    <a href="{% url 'devs_delete' dev.id %}">Delete</a>
                </div>
            </div>
        </div>

        {% for photo in dev.photo_set.all %}
            <img src="{{ photo.url }}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel teal-text center-align">📸 No Photo Uploaded 📸 </div>
        {% endfor %}

        <form action="{% url 'add_photo' dev.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" value="Upload Photo" class="btn">
        </form>

    </div>

    <div class="col s6">
        <form action="{% url 'add_interview' dev.id %}" method="post">
            {% csrf_token %} {{ interview_form.as_p }}
            <input type="submit" value="Add Interview Round" class="btn">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Stage</th>
                </tr>
            </thead>
            <tbody>
                {% for interview in dev.interview_set.all %}
                <tr>
                    <td>{{interview.date}}</td>
                    <td>{{interview.get_stage_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr />

<div class="col s6">
    <h3>{{ dev.name }}'s Language's</h3>
    {% if dev.languages.count %}
    {% for language in dev.languages.all %}
    <div class="card">

        <div class="card-content">
            <span class="card-title">{{ language.name }}</span>
        </div>

    </div>
    {% endfor %}
    {% else %}
    <h5>No languages :(</h5>
    {% endif %}
</div>

<div class="col s6">
    <h3>Available languages</h3>
    {% if languages.count %}
    {% for language in languages.all %}
    <div class="card">

        <div class="card-content">
            <span class="card-title">{{ language.name }}</span>
        </div>

        <div class="card-action">
            <form action="{% url 'assoc_language' dev.id language.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
            </form>
        </div>

        {% endfor %}
        {% else %}
        <h5>No Languages Available</h5>
        {% endif %}
    </div>

</div>

</div>

<script>
    const dateEL = document.getElementById('id_date');
    M.Datepicker.init(dateEL, {
        format: "yyyy-mm-dd",
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_stage');
    M.FormSelect.init(selectEl)
</script>

{% endblock %}
